Package: evlag
Version: 2.5
Section: custom
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 23840
Maintainer: Mark Claypool (claypool@cs.wpi.edu)
Description: EvLag is a simple tool for lagging and monitoring device input in Linux.

